@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

.timer {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    padding-right: 25px;
}

.section-header {
    text-align: left;
    margin-top: -30px;
}

.section-header span {
    font-weight: 400;
    font-size: 16px;
    color: #253B56;
    display: inline-flex;
    align-items: center;
}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.Button {
    font-family: 'Montserrat';
    font-weight: 600;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: lightgreen;
    cursor: pointer;
}

.Botton:hover{
    /*css3 shardow*/
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
}

.task-button:disabled, .task-button[disabled] {
    background-color: #C2C2C2;
    cursor: wait;
}

.controls {
    display: inline-block;
}

.start {
    background-color: green;
}

.danger {
    background-color: red;
}

.secondary {
    background-color: darkgray;
}

.done {
    background-color: #3D584F;
}

.primary {
    background-color: skyblue;
}

.undefined {
    background-color: #e1e1e1;
}

.section-container {
    width: 100%;
    height: 90%;
}

.section-container>div:last-child {
    height: 588px;
    margin-top: -30px;
    overflow: scroll;
}

.task-item-complete:last-child {
    margin-bottom: 40px;
}

#refresh {
    margin-left: 10px;
    height: 16px;
    width: 16px;
}

#refresh-hover {
    margin-left: -16px;
    height: 16px;
    width: 16px;
}

#emergency-button {
    cursor: pointer;
    display: inline-flex;
    margin-left: 20px;
    margin-bottom: 3px;
}

#emergency-button:hover #get-emergency {
    opacity: 0;
}

#emergency-button:hover #get-emergency-hover {
    opacity: 1;
}

#get-emergency {
    height: 19px;
    width: 18px;
}

#get-emergency-hover {
    opacity: 0;
    margin-left: -18px;
    height: 19px;
    width: 18px;
}

.title-wrapper {
    margin-top: 30px;
    display: inline-flex;
    display: inline-flex;
    align-items: center;
}


.tasks-title {
    margin-left: 30px;
    display: inline-flex;
    align-items: center;
}

.tasks-title h1 {
    font-family: 'Montserrat';
    font-size: 1.2em;
    color: #253B56;
}

#new-tasks-title {
    position: relative;
    cursor: pointer;
}

#new-tasks-title:hover h1 {
    color: #1A94D7;
}

#new-tasks-title #refresh-hover {
    opacity: 0;
}

#new-tasks-title:hover #refresh-hover {
    opacity: 1;
}

#new-tasks-title #refresh {
    opacity: 1;
}

#new-tasks-title:hover #refresh {
    opacity: 0;
}


#new-items {
    min-height: 214px !important;
}

#completed-title {
    margin-top: 30px;
}

#completed-items {
    padding-bottom: 50px;
}

.no-tasks {
    font-family: 'Montserrat';
    text-align: center;
    color: #1A94D7;
    font-size: 18px;
    font-weight: 500;
    padding-top: 60px;
    margin: 10px auto;
}

.hidden {
    display: none !important;
}